<ion-header>
  <ion-toolbar class="header-top">
    <div class="header-top">
      <p class="ion-padding">REGISTRO INÍCIO</p>
      <p class="ion-padding" (click)='logout()'>SAIR</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <div class="ion-padding horaData">
      <h1 class="horaData">{{this.horaExtraInicio.horaInicial}}</h1>
      <h5 class="horaData">{{this.horaExtraInicio.dataInicial}}</h5>
    </div>
  </ion-item>
  <hr>



  <div class="ion-text-center ion-padding ">
    <img class="logoRegistro" src="../../../assets/imagens/logoRegistroHora.svg">
  </div>

  <div class="ion-text-center ion-padding digitalHora">
    <img src="../../../assets/imagens/digitalRegistro.svg" (click)="registrarInicioHoraExtra()">
    <p class="finalizarHora"><strong>Toque para finalizar hora extra</strong></p>
  </div>

</ion-content>


<ion-toolbar class="footer">
  <div class="menu">
    <ion-icon name="clock" [routerLink]="['/relatorio-hora-extra']"></ion-icon>
  </div>
</ion-toolbar>